In [ ]:
%%bash 
pip install --upgrade pyathenajdbc==2.0.0

In [ ]:
from pyathenajdbc import connect  
import pandas as pd

In [ ]:
sql =  """
select * from 
flights_demo.flights_raw
limit 1000000
"""

In [ ]:
import time

In [ ]:
start = time.time()

conn = connect(s3_staging_dir='s3://alpha-everyone/platform_demos/performance/flights_db/__athena_temp__/tables/del',
               region_name='eu-west-1')  # optional, as used by JPype
df = pd.read_sql(sql, conn)
end = time.time()
print(end - start)